@import url('https://fonts.googleapis.com/css?family=Lora');

html {
  font-size: 75%;
}

body {
    font-family: 'Lora', serif;
    max-width: 960px;
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
}

.form__item-wrapper {
  padding: 12px 0;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

button,
input,
select,
label {
  font-size: 1.8rem;
}

button {
    font-size: 22px;
    padding: 6px;
}

label {
    width: 100px;
    display: inline-block;
}

input,
select {
    height: 30px;
}

input[type='text'] {
    width: 300px;
}

h1 {
    display: inline-block;
}
